* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #222;
}
#timer {
    font-family: monospace;
    display: block;
    height: 12vh;
    width: 14vw;
    top: 0;
    right: 0;
    font-size: 12vh;
    line-height: .8;
}
header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: white;
}
#camera {
    padding: 0;
    position: absolute;
    bottom: 0vh;
    left: 10;
    width: 60%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
    background-color: #333;
    background-size: cover;
    background-image: url(ui.camera.src);
}
article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
body.login #login {
    display: flex;
}
#login :disabled {
    opacity: 0.6;
}
#login > * {
    height: 40px;
}
#login > button {
    margin-left: 5px;
}
#multicam-debug {
  bottom: 0vh;
  z-index: 1;
}
#robot-info {
  position: absolute;
  transform: translate(90vw, 70vh);
  font-size: 12pt;
}
#status-lights {
  position: absolute;
  transform: translate(58vw, 75vh);
  z-index: 1;
}
#warning-info {
    position: absolute;
    transform: translate(60vw, 90vh);
    width: 40vw;
    height: 10vh;
    z-index: 1;
}
#robot-diagram {
    position: absolute;
    transform: translate(75vw, 10vh);
    width: 25vw;
    height: 55vh;
}
#claw {
    position: absolute;
}
#arm-base {
    transform-origin: top center;
    transform: rotate(180deg);
}
#arm {
    transform-origin: bottom center;
    /* transform: rotate(180deg); */
}
#intake {
    transform-origin: center left;
}
#auton-chooser {
    position: relative;
    transform: translate(60vw, 0vh);
    width: 40vw;
    height: 65vh;
}
#start-direction {
    position: absolute;
}
#start-position {
    position: absolute;
    transform: translate(0px, 50px);
}
#target-1 {
    position: absolute;
    transform: translate(90px);
}
#height-1 {
    position: absolute;
    transform: translate(calc(90px), 275px);
}
#target-2 {
    position: absolute;
    transform: translate(calc(90px + 125px));
}
#height-2 {
    position: absolute;
    transform: translate(calc(90px + 125px), 45px);
}
#target-3 {
    position: absolute;
    transform: translate(calc(90px + 125px + 130px));
}
#height-3 {
    position: absolute;
    transform: translate(calc(90px + 125px + 130px), 275px);
}
#confirm-button {
    position: absolute;
    transform: translate(calc(90px + 125px + 130px + 100px), 275px);
}
#vline {
    position: absolute;
    transform: translate(0vw, 0vh);
    stroke-width: 0.25px;
}
#hline {
    position: absolute;
    transform: translate(0vw, 0vh);
    stroke-width: 0.25px;
}
#current-command {
    position: absolute;
    transform: translate(81vw, 68vh);
    width: 13vw;
    height: 6vh;
    z-index: 1;
}
#climb-status {
    position: absolute;
    transform: translate(60vw, 12vh);
    width: 15vw;
    height: 10vh;
    z-index: 1;
}

#big-warning {
    position: absolute;
    background: red;
    transform: translate(70vw, 10vh);
    width: 30vw;
    height: 20vh;
    z-index: 1;
}
