* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #222;
}
#timer {
    font-family: monospace;
    display: block;
    height: 20vh;
    width: 30vw;
    top: 0;
    left: 0;
    font-size: 20vh;
    line-height: .8;
}
header {
    width: 20vw;
    height: 20vh;
    top: 0;
    left: 30vw;
    color: white;
}
#camera {
    padding: 0;
    position: absolute;
    bottom: 0vh;
    left: 10;
    width: 50%;
    height: 80%;
    object-fit: fill;
    overflow: hidden;
    background-color: #333;
    background-size: cover;
    background-image: url(ui.camera.src);
}
article {
    top: 0;
    left: 50vw;
    height: 100vh;
    width: 35vw;
}
svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
body.login #login {
    display: flex;
}
#login :disabled {
    opacity: 0.6;
}
#login > * {
    height: 40px;
}
#login > button {
    margin-left: 5px;
}
#multicam-debug {
  bottom: 0vh;
  z-index: 1;
}
#robot-info {
  bottom: 0vw;
  right: 0vh;
  font-size: 12pt;
}
#navx {
  position: absolute;
  transform: translate(70vw);
}
#arm {
  position: absolute;
  transform: translate(81vw);
}
#turret {
  position: absolute;
  transform: translate(85vw);
}
/* #field-map {
  position: absolute;
  transform: translate(55vw, 40vh);
} */
#status-lights {
  position: absolute;
  transform: translate(0vw, 3vh);
}
.bottom-tick {
  transform-origin: top center;
  transform: rotate(180deg);
}
.right-tick {
  transform-origin: left center;
  transform: rotate(180deg);
}
.needle {
  transform-origin: bottom center;
}
.right-rocket {
  transform-origin: top left;
  transform: rotate(90deg);
}
#left-cargo-1 {
  transform: translate(-40px);
}
#left-cargo-2 {
  transform: translate(-40px);
}
#left-cargo-3 {
  transform: translate(-40px);
}
#left-cargo-4 {
  transform: translate(-30px);
}
#right-cargo-1 {
  transform: translate(10px);
}
#right-cargo-2 {
  transform: translate(10px);
}
#right-cargo-3 {
  transform: translate(10px);
}
#auton-chooser {
    position: relative;
    transform: translate(50vw, 40vh);
    width: 50vw;
    height: 55vh;
}
#start-position {
    position: absolute;
}
#target-1 {
    position: absolute;
    transform: translate(90px);
}
#height-1 {
    position: absolute;
    transform: translate(calc(90px + 125px));
}
#target-2 {
    position: absolute;
    transform: translate(calc(90px + 125px + 75px));
}
#target-3 {
    position: absolute;
    transform: translate(calc(90px + 125px + 75px + 130px));
}
#height-3 {
    position: absolute;
    transform: translate(calc(90px + 125px + 75px + 130px + 125px));
}